.ui.form {
	textarea, input[type="text"], input[type="email"], input[type="date"], input[type="password"], input[type="number"], input[type="url"], input[type="tel"]{
		border:none;
		border-bottom: 1px solid #DDDDDD;
		/*text-transform: uppercase;*/
	}
	.selection.dropdown {
		border: none;
		box-shadow: none !important;
		border-bottom: 1px solid #DDDDDD;
		border-radius: 0em !important;
	}

	.right.aligned{
		text-align: right;
	}
}