<template>
    <div class="ui form">
        <div class="field">
            <label>Input Name</label>
            <input type="text" v-model="source.name">
        </div>
        <div class="two fields">
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">
                        Source 1
                    </div>
                    <input type="text" v-model="source.input1">
                </div>
            </div>
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">
                        Source 2
                    </div>
                    <input type="text" v-model="source.input2">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'

export default{
    computed:{
        ...mapState('broadcast', ['source'])
    }
}
</script>