<template>
    <div>
        <div class="field">
            <div class="ui search selection dropdown">
                <i class="dropdown icon"></i>
                <span class="text">Broadcaster</span>
                <div class="menu">
                    <div class="item" data-value='direct' @click="broadcaster">Direct</div>
                    <div class="item" data-value='ffmpeg' @click="broadcaster">Ffmpeg</div>
                    <div class="item" data-value='wowza' @click="broadcaster">Wowza</div>
                </div>
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <component v-bind:is="destination.type"></component>
    </div>
</template>
<script>

import { mapState } from 'vuex'

import Direct from './Direct'
import Ffmpeg from './Ffmpeg'
import Wowza from './Wowza'

export default{
    computed: {
        ...mapState('broadcast', ['destination'])
    },

    components: {
        Direct,
        Ffmpeg,
        Wowza,
    },

    methods:{
        broadcaster(evt){
            this.destination.type = $(evt.target).data('value')
        },
    },

    mounted(){
        $('.ui.dropdown').dropdown('set exactly', this.destination.type)
    }
}
</script>