<template>
    <div>
        <p>URL: {{ status.streamUrl }}</p>
        <p style="overflow-wrap: break-word;">key: {{ status.streamKey }}</p>
    </div>
</template>
<script>
import { mapState } from 'vuex'

export default{
    computed:{
        ...mapState('broadcast', ['status'])
    }
}
</script>