<template>
    <div class="ui form">
        <div class="ui stackable grid">
            <div class="eight wide column">
                <h5 class="ui horizontal divider header">Audio</h5>
                <div class="equal width fields">
                    <div class="field">
                        <label>Options</label>
                        <input type="text" v-model="source.audio.options">
                    </div>
                    <div class="field">
                        <label>URL</label>
                        <input type="text" v-model="source.audio.url">
                    </div>
                    <div class="field">
                        <label>Bitrate</label>
                        <input type="text" v-model="source.audio.bitrate">
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <h5 class="ui horizontal divider header">Video</h5>
                <div class="equal width fields">
                    <div class="field">
                        <label>Options</label>
                        <input type="text" v-model="source.video.options">
                    </div>
                    <div class="field">
                        <label>URL</label>
                        <input type="text" v-model="source.video.url">
                    </div>
                    <div class="field">
                        <label>Bitrate</label>
                        <input type="text" v-model="source.video.bitrate">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import { mapState } from 'vuex'

export default{
    computed:{
        ...mapState('broadcast', ['source'])
    }
}
</script>