<template>
    <div class="ui form">
        <div class="ui right labeled input">
            <div class="ui label">
                rtmp://%wowza_server%/live/instagram_
            </div>
            <input type="text" v-model="source.ingest">
            <div class="ui basic label">.sdp</div>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'

export default{
    computed:{
        ...mapState('broadcast', ['source'])
    }
}
</script>