<template>
    <div class="ui grid" style="margin: 0;">
        <div class="four wide column">
            <statistics></statistics>
        </div>
        <div class="eight wide column">
            <socket></socket>
            <loading v-if="!socket.isConnected"></loading>
            <div v-if="socket.isConnected">
                <div class="ui hidden divider"></div>
                <user></user>
                <div class="ui hidden divider"></div>
                <broadcasting></broadcasting>
            </div>
        </div>
        <div class="four wide column">
            <comments></comments>
        </div>
    </div>
</template>
<script>

import { mapState } from 'vuex'
import swal from 'sweetalert2'

import Broadcasting from './Broadcasting'
import Comments from './Comments'
import Loading from './Loading'
import Socket from './Socket'
import Statistics from './Statistics'
import User from './User'

export default{

    computed: {
        ...mapState(['socket', 'error']),
    },

    components: {
        Broadcasting,
        Comments,
        Loading,
        Socket,
        Statistics,
        User,
    },

    watch: {
        error(state, old){
            if(state){
                swal({
                    type: 'error',
                    title: 'Error!',
                    text: this.socket.message.error,
                }).then( response => {
                    this.$store.dispatch('resetError')
                })
            }
        }
    }

}
</script>