<template>
    <div class="ui form" v-if="loggedIn">
        <h4 class="ui horizontal divider header">Live Broadcasting</h4>
        <broadcaster></broadcaster>
        <div class="ui hidden divider"></div>
        <button type="button" class="ui blue button" @click="create" v-if="!status.broadcasting">
            <i class="plus icon"></i>Create
        </button>
        <button type="button" class="ui positive button" @click="start" v-if="status.broadcastId && !status.broadcasting">
            <i class="video play icon"></i>Go Live!
        </button>
        <div  v-if="status.broadcasting">
            <div class="ui checkbox">
                <input type="checkbox" v-model="save">
                <label>Save Story</label>
            </div>
            <button type="button" class="ui purple button" @click="stop">
                <i class="stop icon"></i>Stop
            </button>
        </div>
        <div class="ui hidden divider"></div>
        <preview v-if="status.broadcasting"></preview>
    </div>
</template>
<script>

import { mapActions, mapState } from 'vuex'
import swal from 'sweetalert2'

import Broadcaster from './broadcaster/Broadcaster'

import Preview from './Preview'

export default{

    data: () => {
        return {
            save: false,
        }
    },

    computed: {
        ...mapState('user', ['loggedIn']),
        ...mapState('broadcast', ['status', 'destination'])
    },

    components: {
        Broadcaster,
        Preview,
    },

    methods:{
        ...mapActions('broadcast', ['create', 'toggleComments', 'start']),
        stop(){
            swal({
                text: 'Stop broadcast?',
                type: 'question',
                showCancelButton: true,
            }).then( response => {
                if(!response.dismiss){
                    this.$store.dispatch('broadcast/stop', this.save)
                }
            })
        }
    }
}
</script>