<template>
    <div id="comments" v-if="status.broadcasting">
        <h4 class="ui horizontal divider header">Comments</h4>
        <div class="ui form">
            <div class="field">
                <div :class="'ui icon ' + (enabled ? '' : 'disabled ') + 'input'">
                    <input type="text" v-model="comment.text" @keyup.enter="send">
                    <i class="paper plane icon"></i>
                </div>
            </div>
            <button type="button" class="ui yellow button" @click="toggle">
                <i :class="(enabled ? 'comment' : 'comment slash') + ' icon'"></i>{{ enabled ? 'Mute' : 'Unmute'}} Comments
            </button>
        </div>
        <div class="ui feed" style="max-height: 250px;overflow-y: auto;">
            <div class="event" v-for="comment in comments">
                <div class="label">
                    <img :src="comment.avatar">
                </div>
                <div class="content">
                    <div class="summary">
                        <span class="user">
                            {{ comment.username }}
                        </span>
                        <div class="date">
                            {{ date(comment.timestamp) }}
                        </div>
                    </div>
                    <div class="extra test">
                        {{ comment.text }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import { mapActions, mapState } from 'vuex'

export default{
    computed: {
        ...mapState('comment', ['comments', 'comment', 'enabled']),
        ...mapState('broadcast', ['status']),
    },

    methods: {
        ...mapActions('comment', ['send', 'toggle']),
        date(timestamp){
            return moment.unix(timestamp).fromNow()
        },
    },
}
</script>