<template>
    <div class="wrapper">
        <socket :size="'80px'"></socket>
    </div>
</template>
<style>
    .wrapper{
        position: fixed;
        top: calc(50% - 40px);
        left: calc(50% - 40px);
    }
</style>
<script>

import { Socket } from 'vue-loading-spinner'

export default{
    components: {
        Socket,
    }
}
</script>