<template>
    <div>
        <h4 class="ui horizontal divider header">Preview</h4>
        <div class="ui center aligned grid">
            <div class="column">
                <video id="preview" class="video-js" style="margin:auto" controls>
                </video>
            </div>
        </div>
    </div>
</template>
<script>

import { mapState } from 'vuex'
import 'video.js/dist/video-js.css'
import videojs from 'video.js'
import 'dashjs'
import 'videojs-contrib-dash'

export default{

    computed: {
        ...mapState('broadcast', ['status'])
    },

    mounted(){
        var player = videojs('preview')
        player.ready(() => {
            player.src({
                /*
                 * Available streams
                 * status.info.rtmp_playback_url
                 * status.info.dash_playback_url
                 * status.info.dash_live_predictive_playback_url
                 */
                 src: this.status.info.dash_playback_url,
                 type: 'application/dash+xml'
             })
            player.play()
        })
    }

}

</script>