<template>
    <div class="ui form">
        <h4 class="ui horizontal divider header">Web Socket</h4>
        <div class="two fields">
            <div class="field">
                <div class="ui labeled input">
                    <input type="text" v-model="wsocket.address">
                </div>
            </div>
            <div class="field">
                <button  type="button" class="ui teal button" @click="connect">
                    <i class="server icon"></i>{{ socket.isConnected ? 'Disconnect' : 'Connect' }}
                </button>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">

import { mapState } from 'vuex'

export default{

    computed: {
        ...mapState(['socket', 'error', 'wsocket']),
    },

    methods: {
        connect(event){
            if(this.socket.isConnected){
                this.$store.dispatch('wsocket/disconnect', this )
            }else{
                this.$store.dispatch('wsocket/connect', this )
            }
        },
    },

    mounted(){
        $('.ui.dropdown.protocol').dropdown()
    }
}

</script>