<template>
    <div id="statistics" v-if="status.broadcasting">
        <h4 class="ui horizontal divider header">Statistics</h4>
        <div class="ui one small statistics">
            <div class="red statistic">
                <div class="value" id="likes">
                    <i class="heart icon"></i> {{ likes[likes.length -1] }}
                </div>
                <div class="label">
                    Likes
                </div>
            </div>
            <div class="orange statistic">
                <div class="value" id="burst-likes">
                    <i class="fire icon"></i> {{ bursts[bursts.length -1] }}
                </div>
                <div class="label">
                    Burst Likes
                </div>
            </div>
            <div class="green statistic">
                <div class="value" id="viewers">
                    <i class="eye outline icon"></i> {{ viewers[viewers.length -1] }}
                </div>
                <div class="label">
                    Current Viewers
                </div>
            </div>
            <div class="teal statistic">
                <div class="value" id="total-viewers">
                    <i class="users icon"></i> {{ total_viewers }}
                </div>
                <div class="label">
                    Total Viewers
                </div>
            </div>
        </div>
        <chart></chart>
    </div>
</template>
<script>

import { mapState } from 'vuex'
import Chart from './Chart'

export default{

    components: {
        Chart
    },

    computed: {
        ...mapState('statistics', ['likes', 'bursts', 'viewers', 'total_viewers']),
        ...mapState('broadcast', ['status']),
    },

}
</script>