<template>
    <div id="user" class="ui form">
        <h4 class="ui horizontal divider header">User</h4>
        <div class="two fields">
            <div class="field">
                <input type="text" v-model="user.username">
            </div>
            <div class="field">
                <input type="password" v-model="user.password">
            </div>
        </div>
        <div class="ui divider"></div>
        <button type="button" class="ui positive button" id="login" @click="login">
            <i class="sign in icon"></i>Login
        </button>
        <button v-if="loggedIn" type="button" class="ui negative button" id="logout" @click="logout">
            <i class="sign out icon"></i>Logout
        </button>
        <div class="ui icon message">
            <i class="user icon"></i>
            <div class="content">
                <div class="header">
                    User status
                </div>
                <p id="user-status">{{ loggedIn ? 'Logged in' : ''}}</p>
            </div>
        </div>
    </div>
</template>
<script>

import { mapState } from 'vuex'
import swal from 'sweetalert2'

export default{

    computed: {
        ...mapState('user',['user', 'loggedIn']),
        ...mapState(['socket']),
    },

    methods:{
        login(){
            this.$store.dispatch('user/login', {
                username: this.user.username,
                password: this.user.password,
            })
        },
        logout(){
            this.$store.dispatch('sendMessage', {
                action: 'logout'
            })
        }
    }
}
</script>